<div class="container">
  <div class="row search-box">
    <form action="" [formGroup]="rfSeach" (ngSubmit)="onBtnSearch()">
      <div class="form-search">
        <h2>Search Product</h2>
        <div class="search-group">
          <span for="">Search by: </span>
          <select name="" id="" formControlName="categoryId">
            <option [value]="''">Please select ...</option>
            <option *ngFor="let c of categories" [value]="c.category_id">{{c.category_name}}</option>
          </select>
          <input type="text" placeholder="Search text" formControlName="productName"/>
        </div>
        <div class="search-group">
          <span for="Search by">Price ($): between</span>
          <input type="text" placeholder="Low" formControlName="minPrice"/>
          <span for="">and</span>
          <input type="text" placeholder="Height" formControlName="maxPrice" />
        </div>
        <div class="search-group">
          <span>First available: from</span>
          <input type="date" formControlName="minAvailableSince" />
          <span class="ms-2">to</span>
          <input type="date" formControlName="maxAvailableSince" />
        </div>
        <div class="search-group">
          <span>Product-status: </span>
          <select name="" id="" formControlName="status">
            <option [value]="''">Please select ...</option>
            <option *ngFor="let s of statusList" [value]="s.status_name">{{s.status_name}}</option>
          </select>
          <button type="submit" class="btn btn-sm btn-primary me-2">GO</button>
          <button type="reset" class="btn btn-sm btn-danger">CLEAR</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row first-letter">
    <div class="filter-letter">
      <span (click)="searchProductsByFirstCharacter(w, $event)"  *ngFor="let w of groupName">{{w | uppercase}}</span>
    </div>
  </div>
  <div class="row search-list">
    <div>
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-dark">
            <th (click)="sort(ordProductname)">Product Name ▲▽</th>
            <th  (click)="sort(ordCategoryId)">Category ID ▲▽</th>
            <th  (click)="sort(ordCategoryName)">Category Name ▲▽</th>
            <th  (click)="sort(ordUnitPrice)">Unit Price ▲▽</th>
            <th  (click)="sort(ordStatus)">Status ▲▽</th>
            <th  (click)="sort(ordAvaiable)">Available Since ▲▽</th>
            <th  (click)="sort(ordProductname)">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of products | paginate : {
            itemsPerPage: this.pageSize,
            currentPage: this.p,
          }">
            <td>{{ p.product_name }}</td>
            <td>{{ p.category_id }}</td>
            <td>{{ p.category_name }}</td>
            <td>{{ p.unit_price }}</td>
            <td>{{ p.status }}</td>
            <td>{{ p.available_since }}</td>
            <td class="d-flex justify-content-evenly">
              <button (click)="onBtnDelete(p)" class="btn btn-sm btn-danger">Delete</button>
              <button class="btn btn-sm btn-warning">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="my-page">
      <div class="info-page d-flex align-items-center">
        <div class="page-detail">
          <span>1</span>
          <span>-</span>
          <span>{{pageSize}}</span>
          <span class="mx-2">OF</span>
          <span>{{totalElements}}</span>
        </div>
        <pagination-controls
          class="my-pagination"
          (pageChange)="p = $event"
          [previousLabel]="''"
          [nextLabel]="''"
        ></pagination-controls>
      </div>
      <div class="info-page">
        <select (change)="onSelectChange($event)" class="me-2" name="" id="">
          <option *ngFor="let item of itemsPerPages" [value]="item">{{item}}</option>
        </select>
        <span>Items per page</span>
      </div>
    </div>
  </div>
</div>
